.TodoCounter {
    font-family: 'Josefin Sans', sans-serif;
  
    width: 465px;
    height: 150px;
    background-image:url(../img/mu-logo.png);
    background-repeat: no-repeat;
    background-size: 140px;
    font-size: 29px;
    margin-left: auto;
    margin-right: auto;
    align-content: space-evenly;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    display: flex;
};
