.TodoCounter {
    font-family: 'Josefin Sans', sans-serif;
   display: inline-block;
    width: 507px;
    height: 100px;
    background-image:url(../img/mu-logo.png);
    background-repeat: no-repeat;
    background-size: 140px;
    font-size: 29px;
    text-align: center;
    margin-left: 37px;
    margin-right: auto;
    padding: 81px;

};
